mixin createGraph(optionList)
    details
        summary График
        .columnFlex
            p Ось Х:
            .rowFlex
                p=optionList[0]
                    input(type="radio")
            .rowFlex
                p=optionList[1]
                    input(type="radio")
            br
        .columnFlex
            p Ось Y:
            .rowFlex
                p=optionList[2]
                    input(type="radio")
            .rowFlex
                p=optionList[3]
                    input(type="radio")
            .rowFlex
                p=optionList[4]
                    input(type="radio")
            .rowFlex
                p=optionList[5]
                    input(type="radio")
            .rowFlex
                p=optionList[6]
                    input(type="radio")
            .rowFlex
                p=optionList[7]
                    input(type="radio")



